<div class="columns is-multiline">
  {{#each placemarks}}
    <div class="column is-one-third">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title is-centered">{{title}}</p>
          <a class="card-header-icon" aria-label="more options" data-action="collapse" href="#details-{{_id}}" onclick="toggleCollapse(event, 'details-{{_id}}')">
            <span class="icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </header>
        <div class="card-content collapse" id="details-{{_id}}">
          <div class="content">
            <p><strong>Description:</strong> {{description}}</p>
            <p><strong>Location:</strong> {{location}}</p>
            <p><strong>Latitude:</strong> {{latitude}}</p>
            <p><strong>Longitude:</strong> {{longitude}}</p>
            <p><strong>Category:</strong> {{category}}</p>
          </div>
        </div>
        <footer class="card-footer">
          <hr>
          <a href="/dashboard/updateplacemark/{{_id}}" class="card-footer-item">
            <span class="icon has-text-success">
              <i class="fas is-info fa-pen-to-square"></i>
            </span>
          </a>
          <a href="/dashboard/deleteplacemark/{{_id}}" class="card-footer-item">
            <span class="icon has-text-danger">
              <i class="fas is-danger fa-trash"></i>
            </span>
          </a>
        </footer>
      </div>
    </div>
  {{/each}}
</div>

<script>
  function toggleCollapse(event, id) {
    event.preventDefault(); // this is to stop the page scrolling when each card is opened after collapsing
    const content = document.getElementById(id);
    content.classList.toggle('is-hidden');
  }
</script>
